/input/
/output/
/venv/
.venv/
env/
env.py
kaggle.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# notebooks
.ipynb_checkpoints
single-lstm-3rd-place.ipynb

# ide and os garbage
.DS_Store
.vscode/
.idea/

# pytorch and ml
*.pth
*.pt
*.bin
*.pkl
*.npy
*.npz
*.csv
!sample_submission.csv
!train.csv
!test.csv
